@import url('https://fonts.googleapis.com/css2?family=Playball&family=Staatliches&display=swap');

.back {
    background: radial-gradient(circle, rgba(69,196,176,1) 0%, rgba(19,103,138,1) 100%);
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.blogt {
    font-family: 'Playball';
    font-size: 30px;
}

.title {
    font-family: 'Staatliches';
    font-size: 20px;
}

.title:hover {
    border-bottom: 1px solid #ffffff;
}
