.caixa {
    background-color: #22BABB;
}

.titulo {
    color: #ffffff !important; 
    font-weight: bold !important;
}

.botaoposts {
    border-color: #ffffff !important;
    background-color: #FA7F08 !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

.postagens {
    background-color: #ffffff;
}