.caixa {
    background-color: #3F51B5;
}

.titulo {
    color: #ffffff !important; 
    font-weight: bold !important;
}

.botao {
    border-color: #ffffff !important;
    background-color: #3F51B5 !important;
    color: #ffffff !important;
}

.postagens {
    background-color: #ffffff;
}